# Docker
COMPOSE_PROJECT_NAME=carsharing_app
POSTGRES_PORT=5434
NGINX_PORT=8080

# PostgreSQL
POSTGRES_DB=carsharing_db
POSTGRES_USER=carsharing_user
POSTGRES_PASSWORD=carsharing_password

# Django
DJANGO_SECRET_KEY=change-me-in-local-env
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080

# Database connection for backend dev server
DB_ENGINE=django.db.backends.postgresql
DB_NAME=carsharing_db
DB_USER=carsharing_user
DB_PASSWORD=carsharing_password
DB_HOST=localhost
DB_PORT=5434

# App URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000

# Frontend bundle
APP_API_BASE_URL=/api
APP_YANDEX_MAPS_API_KEY=
APP_YANDEX_MAPS_LANG=ru_RU
