DJANGO_SECRET_KEY=change-me-in-local-env
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080

DB_ENGINE=django.db.backends.postgresql
DB_NAME=carsharing_db
DB_USER=carsharing_user
DB_PASSWORD=carsharing_password
DB_HOST=localhost
DB_PORT=5434
